.footer {
  display: flex;
  justify-content: space-between;
}

.item {
  margin-bottom: 1rem;
}

.cart {
  cursor: pointer;
}

.shop {
  max-width: 1500px;
  margin: 0 auto 0 auto !important;
}

.shop__image {
  width: 100% !important;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  ) !important;
  z-index: -1;
  margin-bottom: -150px !important;
}
.shop__row {
  display: flex !important;
  z-index: 1 !important;
}
